body {
  margin: 4px;
}
.list-group-item:hover {
  user-select: none;
  color: white;
  background: #5bc0de;
  cursor: pointer;
}
.list-group-item:active {
  color: white;
  background: #4795ad;
}

img {
  max-height: 200px;
}
textarea {
  width: 100%;
  resize: none;
}
